<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectNoticeRownum">
		SELECT *
		FROM
			(
			SELECT BOARD_NO, CATEGORY_NAME, BOARD_TITLE
			FROM BOARD
			JOIN CATEGORY USING(CATEGORY_NO)
			WHERE STATUS = 'Y'
			AND BOARD_TYPE = 1
			ORDER BY BOARD_NO DESC
			) 
		<![CDATA[WHERE ROWNUM <= 2]]>
	</entry>
	
	<entry key="selectQnaRownum">
		SELECT *
		FROM(
		SELECT B.*
		FROM(
		SELECT *
		FROM(
		SELECT ROWNUM RNUM,A.*
		FROM
		(
		SELECT BOARD_TITLE,ANSWER_STATUS
		FROM BOARD B
		JOIN USER_INFO ON (BOARD_WRITER=USER_NO)
		JOIN CATEGORY USING (CATEGORY_NO)
		WHERE B.STATUS='Y'
		AND BOARD_TYPE = '3'
		ORDER BY CREATE_DATE ASC) A)
		ORDER BY RNUM DESC) B)
		<![CDATA[WHERE ROWNUM <= 2]]>
	</entry>
	
	<entry key="selectReserveUserRownum">
		SELECT ENROLL_NO,USER_NAME,RD.INT_DOM_ID
		      ,R.BOOKING_NO,R.RESERVATION_DATE,R.FLIGHT_NO
		      ,DEP_CITY,ARRIVAL_CITY,AI.DEP_DATE,AI.ARRIVAL_DATE
		FROM RESERVATION R
		JOIN RESERVATION_DETAIL RD ON (RD.BOOKING_NO = R.BOOKING_NO)
		JOIN DEPARTURE D USING (DEP_CODE)
		JOIN USER_INFO U ON (U.USER_NO = R.ENROLL_NO)
		JOIN AIR_SCHEDULE AI USING (DEP_CODE)
		JOIN ARRIVAL USING (ARRIVAL_CODE)
		<![CDATA[WHERE ROWNUM <= 2
		AND R.STATUS = 'Y']]>
		ORDER BY R.RESERVATION_DATE DESC
	</entry>
	<entry key="reservationChk">
		SELECT ENROLL_NO,RD.INT_DOM_ID,R.BOOKING_NO,USER_NAME,EMAIL,R.FLIGHT_NO,DEP_CITY,ARRIVAL_CITY,AI.DEP_DATE,AI.ARRIVAL_DATE
		FROM RESERVATION R
		JOIN RESERVATION_DETAIL RD ON (RD.BOOKING_NO = R.BOOKING_NO)
		JOIN DEPARTURE D USING (DEP_CODE)
		JOIN USER_INFO U ON (U.USER_NO = R.ENROLL_NO)
		JOIN AIR_SCHEDULE AI USING (DEP_CODE)
		JOIN ARRIVAL USING (ARRIVAL_CODE)
		WHERE R.BOOKING_NO = ? AND R.STATUS = 'Y'
		ORDER BY ENROLL_NO
	</entry>
	
	<entry key="reservetionChange">
		UPDATE RESERVATION
		SET FLIGHT_NO = ?,
			DEP_CODE = ?,		    
		    DEP_DATE = ?
		WHERE BOOKING_NO = ?
		AND STATUS = 'Y'
	</entry>
	<entry key="reservetionChange2">
		UPDATE AIR_SCHEDULE
		SET ARRIVAL_CODE = ?,
	    	ARRIVAL_DATE = ?
		WHERE REG_NO= ?
	</entry>
	
	<entry key="reserser">
	SELECT REG_NO
	FROM RESERVATION R
	JOIN RESERVATION_DETAIL RD ON (RD.BOOKING_NO = R.BOOKING_NO)
	JOIN DEPARTURE D USING (DEP_CODE)
	JOIN USER_INFO U ON (U.USER_NO = R.ENROLL_NO)
	JOIN AIR_SCHEDULE AI USING (DEP_CODE)
	JOIN ARRIVAL USING (ARRIVAL_CODE)
	WHERE ENROLL_NO = ? AND AI.FLIGHT_NO = ?
	AND R.STATUS = 'Y'
	ORDER BY ENROLL_NO
	</entry>
	
	<entry key="reservetionDelete">
		UPDATE RESERVATION
		SET STATUS = 'N'
		WHERE BOOKING_NO = ?
	</entry>
</properties>