#header{
    width: 1000px;
    height: 120px;
    margin: auto;
}
#header>div{
    float: left;
    height: 100%;
}
#header_1{
    width: 15%;
    position: relative;
}
#logo{
    position: absolute;
    margin: auto;
    height: 55%;
    width: 80%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#header_2{
    width: 65%;
    position: relative;
}
#header_2>p{
    margin: auto;
    position: absolute;
    height: 60%;
    width:80%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 45px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 15px;
}
#header_3{
    width: 20%;
    text-align: center;
    position: relative;
}
#login{
    position: absolute;
    margin: auto;
    height: 55%;
    width:80%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#login>div> a{
    height: 20px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}
#logout:hover{
    font-weight: bold;
}
#content{
    width: 1000px;
    height: 680px;
    margin: auto;
    position: relative;
}
#content_1{
	float: left;
    width: 15%;
    height: 100%;
    background-color: rgb(154, 222, 226);
    border-radius: 10px;
}
#content_1>div{
    height: 49px;
    padding-top: 19px;
}
.userMenu, .menu{
    background-color: rgb(154, 222, 226);
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
    font-size: large;
}
.subarea{
    background-color: rgb(110, 178, 182);
    width: 100%;
    display: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.userMenu>a, .subarea a{
    text-decoration: none;
    color: black;
}
.userMenu a:hover, .menu:hover, p a:hover{
    font-weight: bold;
}
#content_2{
	float: left;
	position: absolute;
	top: 0;
	left: 150px;
    width: 820px;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
}
div, p{
    /* border: 1px solid lightgrey; */
    box-sizing: border-box;
}
#content_2 p{
    font-size: 25px;
}
#content_2 div{
    padding-left: 40px;
    margin-top: 20px;
}
#customer{
    height: 5%;
}
#customer>p{
    border-bottom: 1px solid lightgray;
}
#notice_4{
	height:45%;
}
#notice_2{
    height: 5%;
}
table{
    width: 757px;
    text-align: center;
    border-bottom: 2px solid lightgray;
}
th{
	background-color: rgb(232, 232, 232);
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
td{
    border-bottom: 1px solid lightgray;
}
#notice_3{
	text-align:center;
}
.btn{
    float: right;
}
#btn1, #btn2,#btn4{
	font-size:small;
	border:1px solid white;
}
#btn1{
	background-color:rgb(134, 134, 134);
	color:white;
}
#btn3{
	background-color: rgb(154, 222, 226);
	color:white;
}
button{
	border:0px;
	border-radius:3px;
}
