#header{
    width: 1000px;
    height: 120px;
    margin: auto;
}
#header>div, #content>div{
    float: left;
    height: 100%;
}
#header_1{
    width: 15%;
    position: relative;
}
#logo{
    position: absolute;
    margin: auto;
    height: 55%;
    width: 80%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#header_2{
    width: 65%;
    position: relative;
}
#header_2>p{
    margin: auto;
    position: absolute;
    height: 60%;
    width:80%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 45px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 15px;
}
#header_3{
    width: 20%;
    text-align: center;
    position: relative;
}
#login{
    position: absolute;
    margin: auto;
    height: 55%;
    width:80%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#login>div> a{
    height: 20px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}
#logout:hover{
    font-weight: bold;
}
#content{
    width: 1000px;
    height: 680px;
    margin: auto;
    position: relative;
}
#content_1{
    width: 15%;
    background-color: rgb(154, 222, 226);
}
#content_1>div{
    height: 10%;
    padding-top: 19px;
}
.userMenu, .menu{
    background-color: rgb(154, 222, 226);
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
    font-size: large;
}
.subarea{
    background-color: rgb(110, 178, 182);
    width: 100%;
    display: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.userMenu>a, .subarea a{
    text-decoration: none;
    color: black;
}
.userMenu a:hover, .menu:hover, p a:hover{
    font-weight: bold;
}
#content_2{
    width: 85%;
}
div, span{
    /* border: 1px solid grey; */
    box-sizing: border-box;
}
#content_2>div{width: 100%;}
#case_area{height: 10%;}
.summary, .tab_gra{display: inline-block;}
#case_area>div{
    width: 30%;
    height: 90%;
    margin: 0.3%;
    margin-left: 2%;
}
.sum_icon{
    width: 30%;
    height: 100%;
    background-color: rgb(154, 222, 226);
    float: left;
    position: relative;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#sum_icon1, #sum_icon2, #sum_icon3{
    position: absolute;
    margin: auto;
    width: 65%;
    height: 82%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.sum_icon+div{
    width: 70%;
    height: 100%;
    background-color: rgb(234, 234, 234);
    float: right;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.sum_icon+div>span{
    font-size: 25px;
    font-weight: bold;
}
.sum_icon+div>div{font-size:13px;}
#easy_menu1{height: 60%;}
#easy_menu1>.tab_gra{
    width: 50%;
    height: 100%;
    float: left;
}
.tab_gra_1{
    height: 50%;
    width: 100%;
}
.tab_gra_1 .tab_gra_title{height: 15%;}
.tab_gra_title{
    margin: 5px;
    padding-top: 15px;
    padding-left: 12px;
    font-size: 21px;
    font-weight: bold;
}
.tab_gra_title a{color: black;}
.tab_gra_title a:hover{
    text-decoration: none;
    color: black;
}
thead{background-color: rgb(234, 234, 234);}
.title:hover{
	color: gray;
	font-weight: bold;
	cursor:pointer;
}
.title{
	max-width:150px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
td a{color: black;}
td a:hover{
    color: grey;
    font-weight: bold;
    text-decoration: none;
}
.chart{padding-left: 20px;}
#myChart{padding-left: 25px;}
#easy_menu2{height: 30%;}
.table{
	text-align: center;
	border-top: 2px solid  lightgray;
	border-bottom: 2px solid  lightgray;
}
.container{float: left;}