#header{
    width: 1500px;
    height: 120px;
    margin: auto;
 }
 #header>div, #content>div{
     float: left;
     height: 100%;
 }
 #header_1{
     width: 15%;
     position: relative;
 }
 #logo{
     position: absolute;
     margin: auto;
     height: 70%;
     width: 80%;
     top: 0px;
     bottom: 0px;
     left: 0px;
     right: 0px;
 }
 #header_2{
     width: 70%;
     padding-top: 30px;
 }
 #navi{
     list-style-type: none;
     margin: 0;
     padding: 0;
     height: 100%;
 }
 #navi>li{
     float: left; /*방법1*/
     height: 100%;
     width: 16%;
     text-align: center;
     /*display: inline-block; /*방법2*/
     /*vertical-align: top; /*방법2*/
 }
 #navi a{
     text-decoration: none;
     color: black;
     font-size: 20px;
     font-weight: bold;
     width: 100%;
     height: 60%;
     display: block;
     line-height: 37px;
 
     transform: scale(1); /*방법1*/
 }
 #navi a:hover{
     font-size: 24px;
     color: rgb(154, 222, 226);
 }
 #navi>li>ul{
     display: none;
     list-style-type: none;
     padding: 0;
 }
 #navi>li>ul a{
     font-size: 18px;
     background-color: rgb(241, 241, 241);
 }
 #navi>li>ul a:hover{
     font-size: 20px;
     color: rgb(96, 164, 168);
 }
 #navi>li>a:hover+ul{
     display: block;
 }
 #navi>li>ul:hover{
     display: block;
 }
 #header_3{
     width: 15%;
     padding-right: 5px;
     text-align: center;
 }
 #header_3> a{
     text-decoration: none;
     margin: 5px;
     font-size: 18px;
     color: black;
 }
 #content{
     width: 1500px;
     height: 840px;
     margin: auto;
 }
 #content_1{
     width: 15%;
     text-align: center;
 }
 #content_2{
     width: 70%;
     height: 840px;
 }
 #footer{
     width: 1500px;
     height: 240px;
     margin: auto;
 }
 #footer>div{
     width: 100%;
 }
 #footer_1{
     height: 25%;
     padding-top: 8px;
 }
 #footer_2{
     height: 75%;
 }
 #footer_2>p{
     width: 100%;
     margin: 0;
     font-size: 13px;
     box-sizing: border-box;
 }
 #p1{
     height: 80%;
     padding: 5px 15px;
 }
 #p2{
     height: 20%;
     text-align: center;
 }
 #footer_1>a{
     text-decoration: none;
     color: black;
     font-weight: bold;
     margin: 15px;
 }
 #content_1_1{
     height: 10%;
     text-align: left;
     padding-top: 15px;
     overflow: visible;
     width: 180px;
     height: 60px;
     line-height: 20px;
     padding: 20px 12px;
     background-color: #1a3d89;
     font-family: "Malgun Gothic";
     font-size: 16px;
     font-weight: 700;
     color: #fff;
 }
 #content_1_2{
     height: 7%;
     text-align: left;
     padding-top: 8px;
 }
 #content_1_3{
     height: 7%;
     text-align: left;
     padding-top: 8px;
 }
 #content_1_4{
     height: 7%;
     text-align: left;
     padding-top: 8px;
 }
 #content_1>div>a{
     text-decoration: none;
     color: black;
     display: block;
     position: relative;
     padding: 4.8px 12px;
     color: #333;
     font-family: "Malgun Gothic";
     font-size: 14px;
     font-weight: 700;
 }
 #content_2_2{
     font-size: 20px;
     font-weight: 700;
     border-top: 2px solid #1a3d89;
     border-bottom: 1px solid lightgray;
     padding-top:11px;
     min-height:60px;
 }
 hr{visibility: hidden;}
 #content_2_3{
     border-bottom: 1px solid lightgray;
     background-color: rgb(244, 244, 244);
 }
 td{text-align:left;}
 #content_2_4{
     margin: 10px;
     padding-top: 25px;
     padding-bottom: 25px;
     height:auto;
     min-height:100px;
 }
#content_2_5{
    width: 100%;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    text-align:center;
}
#content_2_5 span{
    color:gray;
    padding: 4px;
    font-size: 13px;
}
#nolist{
	padding-left:10px;
	padding-right:10px;
}
td span{color:gray;}
#cs>a{
    color: rgb(154, 222, 226) !important;
    font-size: 24px !important;
    font-weight: bold !important;
    border-bottom: 3px solid rgb(154, 222, 226);
}